


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 140px 0px;
    /* margin: 100px 0px; */
}
.helloDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

  @keyframes slide-up {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.helloTitle {
  font-size: 65px;
  font-weight: 700;
  background: linear-gradient(84deg, #8e44ad, #3498db, #00ffff);
    background-size: 200% 200%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  animation: slide-up 4s 2s forwards;
}


@keyframes slideInFromRight {
            0% {
                transform: translateX(100%);
                opacity: 0;
            }
            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }

.text { 
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 1.5;
  font-weight: 600;
  color: #ffffff;
word-wrap: break-word;
  opacity: 0;
  transform: translateY(100px);
  animation: slideInFromRight 2s 1s forwards;
  background-color: rgba(0, 0, 0, 0.729);
  padding: 10px 20px; 
  border-radius: 20px;
  width: 750px;
    }

    @keyframes grow {
  from {
    width: 0;
    opacity: 0; 
  }
  to {
    width: 350px; 
    opacity: 1;
  }
}
.photo {
  width: 350px;
  height: auto;
    object-fit: cover;
    animation: grow 2s ease-in-out forwards;
}

