.wrapper {
    height: auto;
    padding: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  opacity: 0;
  transform: translateY(100px);
  animation: slideInFromLeft 0.5s forwards;
    
}

.wrapperRight {
    height: auto;
    padding: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  opacity: 0;
  transform: translateY(100px);
  animation: slideInFromRight 0.5s forwards;
    
}

@keyframes slideInFromRight {
            0% {
                transform: translateX(100%);
                opacity: 0;
            }
            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }

@keyframes slideInFromLeft {
            0% {
                transform: translateX(-100%);
                opacity: 0;
            }
            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }
.title {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 70px;
}
.listWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px;
    margin: 50px 0px;
}
.imgCamper {
    width: 300px;
    height: auto;
    border-radius: 8px;
    transition: width 0.3s ease-in-out;
}

.linksWrapper {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;

}
.linksItem {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
     
  }
.repoLinkIcon {
 width: 50px;
  height: 50px;
  fill: #ffffff;
  stroke: #00baff;
}




.links {
    font-size: 35px;
     padding: 8px 16px;
  color: #ffffff;;
  display: block;
  
}
.links:hover,
  .links:focus {
    color: #00baff; 
    animation: left-edge 0.5s linear 1;
  }

 
@keyframes left-edge {
	0% {
		transform: rotate(0deg);
	}
	35% {
		transform: rotate(-25deg);
	}
	75% {
		transform: rotate(25deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

  
  .descriptionTitle {
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
  }
  .featuresList {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .description {
    margin-bottom: 35px;
    padding: 0 50px;
    font-size: 18px;
    text-align: center;
  }
  .toolsList {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .tool {
    font-size: 18px;
  }
  .imgWater {
    margin-bottom: 50px;
    width: 500px;
    height: 300px;
    border-radius: 8px;
     transition: width 0.3s ease-in-out;
    }
    
  .phoneBook {
    width: 500px;
    height: auto;
    border-radius: 8px;
     transition: width 0.3s ease-in-out;
}
.imgPhone {
    width: 220px;
    height: auto;
    border-radius: 8px;
     transition: width 0.3s ease-in-out;
}
.img {
  align-items: center;
  justify-content: center;
  border-radius: 8px;
   transition: width 0.3s ease-in-out;
}



