.container {
  padding: 0 50px;
  position: relative;
  z-index: 0;
    margin: 0 auto;
	overflow: hidden;
background-size: 400% 400%;
}

.container::-webkit-scrollbar {
    width: 0px;
}
.container::-webkit-scrollbar-track {
    background: transparent;
}
.container::-webkit-scrollbar-thumb {
    background: transparent;
}
.container::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}