.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1340px;
  z-index: 99;
  padding:  20px 50px 30px 50px;
  background-color: rgba(0, 0, 0, 0.858);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.headerItem {
  color: #807f7f;
   padding: 16px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  cursor: pointer;
    font-size: 28px;
font-weight: 600;
}
.headerItem:hover {
  color: #ffffff;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  transition: all 0.3s ease-in-out;
  border-radius: 20px;
  
}

.active {
  position: relative;
  color: #ffffff;
  border-radius: 20px;
  border-left: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
}


  
.headerList {
    display: flex;
    justify-content: flex-end;
    gap: 70px;
    border-radius: 20px;
    padding: 10px 20px;
}

