


.wrapper {
    height: auto;
    padding: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}


 h2 {
	color: transparent;
text-shadow: 0px 0px 1px #fff;
font-size: 40px;
    font-weight: 600;
    margin-bottom: 100px;
	margin-top: 100px;
}


.item {
   background-color: transparent;
   font-family: 'Kalam', cursive;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    cursor: pointer; 
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    transition: all 0.3s;
    width: auto;
    height: auto;
}

  
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 0px auto;
}

@keyframes slideInFromRight {
            0% {
                transform: translateX(100%);
                opacity: 0;
            }
            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }

.projectItem {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
    margin-bottom: 50px;
    animation: slideInFromRight 2s forwards;
}

@keyframes slideInFromLeft {
            0% {
                transform: translateX(-100%);
                opacity: 0;
            }
            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }

        .projectItemLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
    margin-bottom: 50px;
    animation: slideInFromLeft 2s forwards;
}

.active {
   font-size: 35px;
    font-weight: 700;
}

.projectItem:hover, .projectItemLeft:hover  {
  
  border-radius: 10px;
}

@keyframes left-edge {
	0% {
		transform: rotate(0deg);
	}
	35% {
		transform: rotate(-25deg);
	}
	75% {
		transform: rotate(25deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.typing {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 100px;
   opacity: 0;
    transform: translateY(100px);
    animation: slide-up 1s 2s forwards;
}
@keyframes slide-up {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.tabContent {
  opacity: 0;
  transform: translateY(100px);
  animation: slideInFromLeft 0.5s forwards;
}

@keyframes slideInFromLeft {
            0% {
                transform: translateX(-100%);
                opacity: 0;
            }
            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }

		



