


.wrapper {
    height: auto;
    padding: 50px 50px 250px 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}


.title {
	background-color: rgba(0, 0, 0, 0.729);
    padding: 10px 20px;
  border-radius: 20px;
font-size: 40px;
    font-weight: 600;
    margin-bottom: 100px;
	margin-top: 50px;
}


.item {
  padding: 10px 20px;
  border-radius: 20px;
  background: linear-gradient(90deg, #000000, #1e1e1e);
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
   font-family: 'Kalam', cursive;
    cursor: pointer; 
    transition: all 0.3s;
    width: auto;
    height: auto;
    border: 1px solid rgba(240, 237, 237, 0.1);
    box-shadow: 0 0 10px rgba(240, 237, 237, 0.1);
}

  
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 0px auto;
}

@keyframes slideInFromRight {
            0% {
                transform: translateX(100%);
                opacity: 0;
            }
            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }

.projectItem {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
    margin-bottom: 50px;
    animation: slideInFromRight 2s forwards;
}

@keyframes slideInFromLeft {
            0% {
                transform: translateX(-100%);
                opacity: 0;
            }
            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }

        .projectItemLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
    margin-bottom: 50px;
    animation: slideInFromLeft 2s forwards;
}

.active {
   font-size: 35px;
    font-weight: 700;
}

.projectItem:hover, .projectItemLeft:hover  {
   transform: translateY(-5px) scale(1.05);
    border-radius: 20px;
  color: #ffffff;
  box-shadow: 0 0 20px rgba(72, 70, 70, 0.1), 0 0 30px rgba(240, 237, 237, 0.1);
}

@keyframes left-edge {
	0% {
		transform: rotate(0deg);
	}
	35% {
		transform: rotate(-25deg);
	}
	75% {
		transform: rotate(25deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.typing {
  color: #ffffff;
  text-align: center;
  margin-bottom: 50px;
   opacity: 0;
    transform: translateY(100px);
    animation: slide-up 1s 2s forwards;
    background-color: rgba(0, 0, 0, 0.729);
    padding: 10px 20px;
  border-radius: 20px;
}
@keyframes slide-up {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.tabContent {
  opacity: 0;
  transform: translateY(100px);
  animation: slideInFromLeft 0.5s forwards;
}

@keyframes slideInFromLeft {
            0% {
                transform: translateX(-100%);
                opacity: 0;
            }
            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }
	



