.wrapper {
     width: 160px;
   height: 200px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.729);
  opacity: 0;
  transform: translateY(100px);
  animation: slideInFromLeft 2s ease-in-out forwards;
    position: relative;
    border-radius: 20px;
    border: 2px solid rgba(240, 237, 237, 0.1);
  box-shadow: 0 0 10px rgba(240, 237, 237, 0.1),
    0 0 20px rgba(240, 237, 237, 0.1);
    transition: cubic-bezier(0.23, 1, 0.320, 1);
}
.titleContainer {
  display: flex;
  margin-bottom: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapperRight {
   width: 160px;
   height: 200px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.729);
  opacity: 0;
  transform: translateY(100px);
  animation: slideInFromRight 2s ease-in-out forwards;
    position: relative;
    border-radius: 20px;
    border: 2px solid rgba(240, 237, 237, 0.1);
  box-shadow: 0 0 10px rgba(240, 237, 237, 0.1),
    0 0 20px rgba(240, 237, 237, 0.1);
    transition: cubic-bezier(0.23, 1, 0.320, 1);
}


.wrapperRight:hover, .wrapper:hover {
  background: linear-gradient(84deg , rgba(12, 12, 12, 0.953) 0%, rgba(6, 6, 22, 0.953) 70%, rgb(9, 9, 9) 100%);
  box-shadow: 0 0 30px rgba(240, 237, 237, 0.1),
  0 0 40px rgba(240, 237, 237, 0.1);
}



@keyframes slideInFromRight {
            0% {
                transform: translateX(100%);
                opacity: 0;
            }
            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }

@keyframes slideInFromLeft {
            0% {
                transform: translateX(-100%);
                opacity: 0;
            }
            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }
.title {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.listWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.descriptionWrapper {
    padding: 10px 20px;
  border-radius: 20px;
}

.linksWrapper {
    display: flex;
    gap: 30px;
    flex-direction: column;
    margin: 20px 0px;

}
.linksItem {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
     
  }
.repoLinkIcon {
 width: 30px;
  height: 30px;
  fill: #ffffff;
  stroke: #00baff;
}

.links {
  width: auto; 
    white-space: nowrap;
  text-decoration: underline;
text-decoration-skip-ink: none;
    font-size: 16px;
     padding: 8px 16px;
  color: #00baff; 
  display: block;
  
}
.links:hover,
  .links:focus {
    animation: left-edge 0.5s linear 1;
  }

 
@keyframes left-edge {
	0% {
		transform: rotate(0deg);
	}
	35% {
		transform: rotate(-25deg);
	}
	75% {
		transform: rotate(25deg);
	}
	100% {
		transform: rotate(0deg);
	}
}



.toggleExpand {
   padding: 16px;
  display: flex; 
  color: #ffffff;
  cursor: pointer;
font-weight: 400;
position: absolute;
  bottom: 30px;
  right: 30px;
border-radius: 20px;
border: 1px solid rgba(240, 237, 237, 0.1);
  box-shadow: 0 0 10px rgba(240, 237, 237, 0.1),
    0 0 20px rgba(240, 237, 237, 0.1),
    0 0 40px rgba(240, 237, 237, 0.1),
    0 0 80px rgba(240, 237, 237, 0.1);
}

.toggleExpand:hover, .toggleExpand:focus {
  text-shadow: #ffffff 0px 0px 10px;
  animation: left-edge 0.5s linear 1;
}
  
.expanded {
  overflow: hidden;
  width: 1000px;
  height: auto;
}
  .descriptionTitle {
    font-size: 25px;
    margin-bottom: 20px;
    text-align: start;
  }
  .featuresList {
  text-align: start;
  display: block;
  gap: 10px;
  margin-bottom: 20px;
  padding-left: 20px; 
}
  .description {
    margin-bottom: 35px;
    font-size: 18px;
    text-align: start;
  }
  .toolsList {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    gap: 10px;
    margin-bottom: 20px;
    text-align: start;
  }
  .featuresItem {
  font-size: 18px;
  list-style: disc; 
  list-style-position: inside; 
}
  .tool {
    font-size: 18px;
    text-align: start;
  }
 
    
  



