
.sliderWrapper {
    
    width: 250px;
    height: auto;
    overflow: hidden;
}

.image {
   width: 250px;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  
}
