




.docBox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    padding: 150px 0px;
    margin: 100px 0px;
}
 
.repoLinkIcon {
 width: 50px;
  height: 50px;
  fill: #ffffff;
  stroke: #00baff;
}
  
.linksItem {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
     
  }
.link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.729);
    padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
   text-decoration: underline;
    width: auto;
    white-space: nowrap;
}
.education {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.cv {
   width: 300px;
    height: auto;
    border-radius: 20px;
}

.cvRight {
   width: 300px;
    height: auto;
    border-radius: 20px;
}