.header {
    padding: 50px 80px;
    width: 100%;
   height: 240px;
position: relative;
z-index: 12;

}
.icon {
    width: 50px;
    height: 50px;
    fill: #ffffff;
    filter: drop-shadow(0 0 5px #00baff)
          drop-shadow(0 0 10px #00baff)
          drop-shadow(0 0 20px #00baff)
          drop-shadow(0 0 40px #00baff)
          drop-shadow(0 0 80px #00baff);
}
.headerItem {
   padding: 8px 16px;
   color: #ffffff; 
  text-shadow:
    0 0 5px #00baff,
    0 0 10px #00baff,
    0 0 20px #00baff,
    0 0 40px #00baff,
    0 0 80px #00baff; 
  transition:
    color 0.3s,
    text-shadow 0.3s;
    font-size: 25px;
font-weight: 700;
}
.active {
  color: #00baff;
}
  .headerItem:hover,
  .headerItem:focus {
    color: #00baff; /* Blue text color on hover/focus */
    text-shadow:
      0 0 5px #00baff,
      0 0 10px #00baff,
      0 0 20px #00baff,
      0 0 40px #00baff,
      0 0 80px #00baff;
  }
.headerList {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 50px;
}