.header {
    padding: 20px;
    width: 100%;
   
}
.arrow{
    width: 50px;
    height: 50px;
    stroke: #ffffff;
    filter: drop-shadow(0 0 5px #00baff)
                    drop-shadow(0 0 10px #00baff)
                    drop-shadow(0 0 20px #00baff)
                    drop-shadow(0 0 40px #00baff)
                    drop-shadow(0 0 80px #00baff);
}