





.wrapper {
    background-color: black;
    height: auto;
    padding: 0px 0px 50px 0px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
 margin: 100px 0px ;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}




.title {
    background: linear-gradient(84deg, #9b59b6, #8e44ad, #3498db, #00ffff);
    background-size: 200% 200%;
    animation: gradient 4s ease infinite;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 55px;
    font-weight: 900;
    margin-bottom: 70px;
  }
  

.carousel {
    width: 1200px;
    height: 590px;
    border: 1px solid rgba(153, 69, 232, 0.325);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.05), 
    0 0 60px rgba(152, 69, 232, 0.1),
    0 0 80px rgba(152, 69, 232, 0.1);
    border-radius: 10px;
}

.imgWrapper {
    display: flex;
   flex-direction: column;
   width: 625px;
    gap: 10px;
    background-color: transparent;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
}
.rowDirection {
    flex-direction: row;
    width: 625px;
    display: flex;
    gap: 25px;
    background-color: transparent;
    padding: 20px 0px;
  }

.img {
    width: 476px;
    object-fit: cover;
    border-radius: 10px;
}
.rowDirection .img {
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.infoWrapper {
   align-items: center;
    justify-content: center;
    display: flex;
    gap: 30px;
    flex-direction: column;
    background-color: transparent;
    padding: 20px;
    width: 258px;
}
.button {
    padding: 16px 32px !important;
  display: flex; 
  color: #ffffff !important;
  cursor: pointer;
font-weight: 600;
border-radius: 20px !important;
border: 1px solid #ffffff !important;
  box-shadow: 0 0 10px rgba(240, 237, 237, 0.1),
    0 0 20px rgba(240, 237, 237, 0.1),
    0 0 40px rgba(240, 237, 237, 0.1),
    0 0 80px rgba(240, 237, 237, 0.1);
}

.button:hover {
    border-color: rgba(153, 69, 232, 0.325) !important;
    box-shadow:
      0 0 10px rgba(153, 69, 232, 0.325),
      0 0 20px rgba(152, 69, 232, 0.1),
      0 0 40px rgba(152, 69, 232, 0.1),
      0 0 80px rgba(152, 69, 232, 0.1);
    transform: scale(1.05);
    transition: all 0.3s ease;
  }




.paper {
    height: 590px;
    display: flex;
    align-items: center;
    justify-content: center;
   gap: 50px;
    padding: 0px 70px 0px 70px;
    background: linear-gradient(135deg, #36051f, #000d4f, #020515) !important;
    
}

.infoTitle {
    font-size: 35px;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
}
.linksWrapper {
    display: flex;
    gap: 30px;
    flex-direction: column;
    margin-bottom: 20px;
}
.links {
    position: relative;
    color: white;
    font-size: 22px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .links::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -4px;
    background-color: white;
  }
  
  .links:hover,
  .links:focus {
    animation: left-edge 0.5s linear 1;
  }

 
@keyframes left-edge {
	0% {
		transform: rotate(0deg);
	}
	35% {
		transform: rotate(-25deg);
	}
	75% {
		transform: rotate(25deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
  
  
.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}









