





.wrapper {
    background-color: black;
    height: auto;
    padding: 0px 0px 50px 0px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
 /* margin: 100px 0px; */
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}




.title {
    background: linear-gradient(84deg, #9b59b6, #8e44ad, #3498db, #00ffff);
    background-size: 200% 200%;
    animation: gradient 4s ease infinite;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 60px;
  }
  

.carousel {
  position: relative;
    width: 1200px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0 0 0 0.5px rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(8px);
    border-radius: 10px;
}

.paper {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 70px 0px 70px;
    background-color: rgba(255, 255, 255, 0.05) !important;
    border: 1px solid rgba(255, 255, 255, 0.08) !important;
}

.imgWrapper {
    display: flex;
   width: 730px;
   height: 400px;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    /* padding-left: 20px; */
}
.rowDirection {
    flex-direction: row;
    width: 730px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: transparent;
  }

.img {
    width: 730px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}
.camperClass {
  width: 730px;
  /* padding: 0px 50px; */
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}
.foodClass {
  /* padding-left: 50px; */
    width: 730px;
  height: 400px;
    object-fit: cover;
    border-radius: 10px;
}


.infoWrapper {
   align-items: center;
    justify-content: center;
    display: flex;
    gap: 30px;
    flex-direction: column;
    background-color: transparent;
    padding: 20px;
    width: 258px;
}
.button {
  font-family: 'Courier New', monospace;
    padding: 16px 32px !important;
    display: flex;
    align-items: center ;
    justify-content: center ;
    gap: 20px; 
    text-align: center;
    /* font-weight: 700 !important; */
    font-size: 0.6rem !important;
  color: #ffffff !important;
  cursor: pointer;
border-radius: 20px !important;
border: 1px solid #ffffff !important;
  box-shadow: 0 0 10px rgba(240, 237, 237, 0.1),
    0 0 20px rgba(240, 237, 237, 0.1),
    0 0 40px rgba(240, 237, 237, 0.1),
    0 0 80px rgba(240, 237, 237, 0.1);
}

.button:hover {
    border-color: rgba(153, 69, 232, 0.325) !important;
    box-shadow:
      0 0 10px rgba(153, 69, 232, 0.325),
      0 0 20px rgba(152, 69, 232, 0.1),
      0 0 40px rgba(152, 69, 232, 0.1),
      0 0 80px rgba(152, 69, 232, 0.1);
    transform: scale(1.05);
    transition: all 0.3s ease;
  }

  .showMoreIcon {
    width: 10px;
    height: 10px;
    fill: #ffffff;
    stroke: #00baff;
  }




.infoTitle {
    font-size: 25px;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
}
.linksWrapper {
    display: flex;
    gap: 30px;
    flex-direction: column;
    margin-bottom: 20px;
}
.links {
  display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  cursor: pointer;
  text-decoration: underline;
   width: auto;
   white-space: nowrap;
    color: white;
    font-size: 18px;
    /* text-decoration: none;
    transition: all 0.3s ease; */
  }
  
  /* .links::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -4px;
    background-color: white;
  } */
  
  .links:hover,
  .links:focus {
    animation: left-edge 0.5s linear 1;
  }
  .repoLinkIcon {
    width: 30px;
     height: 30px;
     fill: #ffffff;
     stroke: #00baff;
   }
 
@keyframes left-edge {
	0% {
		transform: rotate(0deg);
	}
	35% {
		transform: rotate(-25deg);
	}
	75% {
		transform: rotate(25deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
  
  
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}









