





.wrapper {
    background-color: black;
    height: auto;
    padding: 0px 0px 50px 0px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
 margin: 100px 0px ;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.title {
  background: linear-gradient(84deg, #9845e8, #33d2ff, #dd5789, #24b832);
  background-size: 200% 200%;
  animation: gradient 4s ease infinite;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px 20px;
  border-radius: 20px;
font-size: 55px;
    font-weight: 900;
    margin-bottom: 70px;
}


.carousel {
    width: 1200px;
    height: 640px;
}

.imgWrapper {
    display: flex;
   flex-direction: column;
   width: 625px;
    gap: 10px;
    background-color: rgb(15, 6, 26);
    padding: 20px 0px;
}
.rowDirection {
    flex-direction: row;
    width: 625px;
    display: flex;
    gap: 25px;
    background-color: rgb(15, 6, 26);
    padding: 20px 0px;
  }

.img {
    width: 476px;
    object-fit: cover;
    
}
.rowDirection .img {
    width: 300px;
    object-fit: cover;
    
}

.infoWrapper {
   align-items: center;
    justify-content: center;
    display: flex;
    gap: 30px;
    flex-direction: column;
    background-color: burlywood;
    padding: 20px;
}
.paper {
    height: 590px;
    display: flex;
    align-items: center;
    justify-content: center;
   gap: 50px;
    padding: 0px 70px 0px 70px;
    background-color: rgb(15, 6, 26) !important;
}

.infoTitle {
    font-size: 35px;
    font-weight: 700;
    color: #ab230b;
    margin-bottom: 20px;
}
.linksWrapper {
    display: flex;
    gap: 30px;
    flex-direction: column;
}
.links {
    color: #fff;
    font-size: 18px;
}

.button {
    background-color: #ab230b;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}










/* .list {
    display: flex;
    gap: 30px;
    margin: 0px auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}




@keyframes slideInFromRight {
            0% {
                transform: translateX(100%);
                opacity: 0;
            }
            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }

.projectItem {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
    margin-bottom: 50px;
    animation: slideInFromRight 2s forwards;
}

@keyframes slideInFromLeft {
            0% {
                transform: translateX(-100%);
                opacity: 0;
            }
            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }

        .projectItemLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
    margin-bottom: 50px;
    animation: slideInFromLeft 2s forwards;
}

.active .spanName {
   font-size: 35px;
    font-weight: 700;
}


@keyframes left-edge {
	0% {
		transform: rotate(0deg);
	}
	35% {
		transform: rotate(-25deg);
	}
	75% {
		transform: rotate(25deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.typing {
  color: #ffffff;
  text-align: center;
  margin-bottom: 50px;
   opacity: 0;
    transform: translateY(100px);
    animation: slide-up 1s 2s forwards;
    background-color: rgba(0, 0, 0, 0.729);
    padding: 10px 20px;
  border-radius: 20px;
  font-size: 20px;
}
@keyframes slide-up {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.tabContent {
  opacity: 0;
  transform: translateY(100px);
  animation: slideInFromLeft 0.5s forwards;
}

@keyframes slideInFromLeft {
            0% {
                transform: translateX(-100%);
                opacity: 0;
            }
            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }

	.svgBgn {
        background-color: black;
         width: 80px;
height: 80px;
border-radius: 100%;
display: flex;
align-items: center;
justify-content: center;
    }
.icon {
  width: 80px;
  height: 80px;
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-dasharray: 100; 
  stroke-dashoffset: 100;
  transition: stroke-dashoffset 0.3s ease, stroke 0.3s ease;
}

.item:hover .icon, .item:focus .icon {
  stroke-dashoffset: 0;
  stroke: #ab230b; 
} */


