

.container {
  width: 100%;

  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  position: relative;
  z-index: 10;
   /* transform: none !important; */
}

/* .container::after {
  content: '';
  display: block;
  height: 250px;
} */

/* .container::-webkit-scrollbar {
    width: 0px;
}
.container::-webkit-scrollbar-track {
    background: transparent;
}
.container::-webkit-scrollbar-thumb {
    background: transparent;
}
.container::-webkit-scrollbar-thumb:hover {
    background: transparent;
} */


