

.mainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 777;
  border-radius: 20px;
background-color: rgb(23, 23, 23);
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0 0 0 0.5px rgba(255, 255, 255, 0.06);
  /* backdrop-filter: blur(2px); */
  overflow-y: hidden;
  max-width: 80vw;
  max-height: 80vh;
  width: 800px;
  min-height: 400px;
}

.container {
  width: 100%;
  height: 100%;
  padding: 40px;
  
}

.scrollArea {
  flex: 1 1 auto;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.scrollHint {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  right: 18px;
  bottom: 18px;
  z-index: 1;
  animation: bounce 1.5s infinite;
  pointer-events: none;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}
@keyframes strokeColorCycle {
  0%   { stroke: #ff0099; }
  25%  { stroke: #ff6600; }
  50%  { stroke: #ffff33; }
  75%  { stroke: #33ff33; }
  100% { stroke: #00baff; }
}
.svgIcon {
stroke: #3498db;
width: 18px;
height: 18px;
animation: strokeColorCycle 5s infinite ease-in-out;
}

.hide {
  opacity: 0;
  animation: none;
}


   .title {
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 900;
}
.subtitle {
    font-size: 20px;
    font-weight: 600;
    color: #979595;
     margin-left: 0px;
    margin-right: auto;
    margin-bottom: 20px;
}
.linksWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 30px;
}
.linksList {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.linkItem {
  list-style: none;
}

.links {
   font-size: 18px;
   font-weight: 600;
   position: relative;
      overflow: hidden;
      text-decoration: none;
   padding: 5px 10px;
   color: #ffffffff;
   transition:  0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
  }

  .links::after {
   content: "";
   border-radius: 10px;
   background: rgba(98, 88, 88, 0.5);
   position: absolute;
   left: 12px;
   bottom: -6px;
   width: calc(100% - 8px);
        height: calc(100% - 8px);
        z-index: -1;
        
   transition:  0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
}

.links:hover:after {
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 100%;
      }


.title,
.subtitle,
.description {
  width: 100%;
  text-align: left;
}
.description {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 20px;
}

.featuresList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
  font-size: 16px;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}

.featureItem {
  color: #ffffff;
}

.showLessButton {
     font-family: 'Courier New', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
  color: #ffffff;
  cursor: pointer;
    margin-right: 50px;
    margin-left: auto;
    border-radius: 20px;
 padding: 10px 20px;
     border-bottom: 2px solid #ffffff;
    transition: color .3s ease-out;
}


.showLessButton:hover {
 border-radius: 20px;
 padding: 10px 20px;
  background-color: #494949;
    transition: all 0.3s ease;
}
.toolIcon {
    width: 30px;
    height: 30px;
    fill: #ffffff;
}
.toolsList {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 20px 0px 40px 0px;
  padding: 0;
  list-style: none;
}


.toolItem {
  padding: 14px 10px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0 0 0 0.5px rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(8px);
  color: #f1f1f1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.tooltipWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tooltipText {
  position: absolute;
  top: -45px; 
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 14px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transform: translateY(5px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 10;
}


.tooltipText::after {
  content: '';
  position: absolute;
  top: 100%; 
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.85) transparent transparent transparent;
}

.tooltipWrapper:hover .tooltipText {
  opacity: 1;
  transform: translateY(0);
}