

.mainWrapper {
    padding: 30px ;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
   top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  background-color: rgba(245, 239, 239, 0.5);
}


.imgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.image {
    width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.repoLinkIcon {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
     height: 30px;
     fill: #ffffff;
     stroke: #00baff;
   }