

.wrapper {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    margin: auto;
   overflow: hidden;
   
   
}


        @keyframes slide-up {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.text {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    margin: 100px 0px;
    color: #ffffff;
    width: 700px;
     opacity: 0;
    transform: translateY(100px);
    animation: slide-up 1s 1s forwards;
    }

    

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 0px 50px;
    margin-bottom: 50px;
    
}
.title {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 50px;
    color: #ffffff;
    opacity: 0;
    transform: translateY(100px);
    animation: slide-up 1s 1s forwards;
}
.list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 70px;
    list-style: none;
    margin: 30px 0;
   padding: 0 80px;
   margin-bottom: 80px;
  opacity: 0;
    transform: translateY(100px);
    animation: slide-up 1s 1s forwards;
}
.photo {
  width: 350px;
  height: auto;
  box-shadow: 
    0 0 5px rgba(240, 237, 237, 0.1),
    0 0 10px rgba(240, 237, 237, 0.1),
    0 0 20px rgba(240, 237, 237, 0.1),
    0 0 40px rgba(240, 237, 237, 0.1),
    0 0 80px rgba(240, 237, 237, 0.1);
    border-radius: 50%;
    position: sticky;
    z-index: 12;
    animation: grow 2s ease-in-out forwards;
}

@keyframes grow {
  from {
    width: 0;
    opacity: 0; 
  }
  to {
    width: 350px; 
    opacity: 1;
  }
}
.item {
  padding: 10px 20px;
  border-radius: 20px;
  background: linear-gradient(90deg, #000000, #1e1e1e);
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
  box-shadow: 0 0 10px rgba(240, 237, 237, 0.1);
}

.item:hover {
  transform: translateY(-5px) scale(1.05);
  color: #ffffff;
  box-shadow: 0 0 20px rgba(72, 70, 70, 0.1), 0 0 30px rgba(240, 237, 237, 0.1);
}


.docBox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    padding: 30px;
    margin-bottom: 50px;
    width: auto;
    opacity: 0;
    transform: translateY(100px);
    animation: slide-up 1s 2s forwards;
}
.education {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    list-style: none;
    margin-bottom: 100px;
   
}
.cv {
   width: 300px;
    height: auto;
    border-radius: 20px;
    cursor: pointer;
}