.wrapper {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    margin: auto;
    box-shadow: 
        0 0 5px rgba(0, 0, 0, 0.1),
        0 0 10px rgba(0, 0, 0, 0.1),
        0 0 20px rgba(0, 0, 0, 0.1),
        0 0 40px rgba(0, 0, 0, 0.1),
        0 0 80px rgba(0, 0, 0, 0.1);
   
   
}



.text {
    text-align: center;
    
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 50px;
    color: #ffffff;
    }

    

.foto {
    width: 500px;
    height: auto;
    border-radius: 20px;
    }
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 50px;
    margin-bottom: 50px;
    margin-top: 80px;
    
}
.title {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 50px;
    color: #ffffff;
}
.list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 70px;
    list-style: none;
    margin: 30px 0;
   padding: 0 80px;
   margin-bottom: 80px;
  
}
.item {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconItem {
    fill: #00baff;
    width: 100px;
    height: 100px;
}
    
.icon {
    width: 100px;
    height: 100px;
    
}

.docBox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    padding: 30px;
    margin-bottom: 50px;
    width: auto;
}
.education {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    list-style: none;
    margin-bottom: 100px;
   
}
.cv {
    width: 500px;
    height: auto;
    border-radius: 20px;
    cursor: pointer;
}